<h1><%= @cafe.name %></h1>
<h4><%= @cafe.hours %></h4>
<h4><%= @cafe.address %></h4>
<h4><%= @cafe.phone %></h4>

<ul class='list-group'>
    <% @cafe.reviews.each do |r| %>
        <li class='list-group-item'><%= r.comment %>
        <% if logged_in? && current_user == r.user %>
            <%= link_to 'X', review_path(r), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
            <%= link_to 'Edit', edit_review_path(r), class: 'btn btn-outline-danger btn-sm' %>
        <% end %>
        </li>
    <% end %>
</ul>

<br>
<br>
<br>

<%= form_for @review do |f| %>
    <%= hidden_field_tag "review[cafe_id]", @cafe.id %>
    <div class="input-group">
        <%= f.text_field :comment, class: 'form-control', placeholder: 'Add Review' %>
        <span class="input-group-btn">
            <%= f.submit 'Post', class: 'btn btn-primary' %>
        </span>    
    </div>
<% end %>

<br>

<%= link_to 'Back', cafes_path, class: 'btn btn-secondary' %>
